<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">My Test</a>
          </div>
          <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a  routerLink="/login" routerLinkActive="active" >Login</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a  routerLink="/blog-posts" routerLinkActive="active" >Blog Posts</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a  routerLink="/saved-posts" routerLinkActive="active" >Saved Posts</a></li>
                <!-- <li routerLinkActive="active"><a  routerLink="/classified" routerLinkActive="active" >Classifie</a></li> -->
            </ul>
             <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="isAuthenticated">
                            <a style="cursor: pointer;" (click)="onLogout()" routerLink="/login" routerLinkActive="active">Logout</a>
                        </li>

                    <!-- <li class="dropdown" appDropdown>
                        <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
                        </ul>
                    </li> -->
                
             </ul>
        </div>
    </div>
</nav>
