
<!-- <button (click)="getPosts()">get posts</button> -->

<mat-accordion>
    <mat-expansion-panel>
      <!-- <mat-expansion-panel-header> -->
        <!-- <mat-panel-title>
          Personal data
        </mat-panel-title> -->
        <!-- <mat-panel-description>
          Type your name and age
        </mat-panel-description> -->
      <!-- </mat-expansion-panel-header> -->
  
      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" *ngFor="let post of posts">
      <mat-expansion-panel-header>
        <mat-panel-title>
         {{post.id}}
        </mat-panel-title>
        <mat-panel-description>
          {{post.title}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
      <button class="btn" 
      routerLink="/saved-posts" 
      routerLinkActive="active"
      (click)="onSave(post.id)">save</button>
    </mat-expansion-panel>
    <br>
  </mat-accordion>